<!-- without-bundel -->
<!-- <script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/modernizr.custom.js"></script>
<script src="/public/js/jquery-ui.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/moment.min.js"></script>
<script src="/public/js/bootstrap-datetimepicker.min.js"></script>
<script src="/public/js/bootstrap-datepicker.js"></script>
<script src="/public/js/daterangepicker.min.js"></script>
<script src="/public/js/bootstrap-timepicker.min.js"></script>
<script src="/public/js/moment-timezone-with-data.min.js"></script>
<script src="/public/js/scripts.js"></script> -->
<!-- /without-bundel -->
<!-- with-bundel -->
        <script src="/public/js/common_all.js"></script>
<!--/with-bundel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
</body>
</html>
