<div class="container-fluid footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset"><span class="hint-text">
                <!-- react-text: 113 -->Copyright ©
                <!-- /react-text -->
                <!-- react-text: 114 -->{{YearNow}}
                <!-- /react-text --></span><!-- react-text: 115 -->
            <!-- /react-text --><span class="font-montserrat">Eventvisor - [v{{Appversion}}] </span>
            <!-- react-text: 117 -->
           
    </div>
</div>